* {
    margin:0px;
    padding:0px;
}

body {
    background-color:pink;
}

#game {
    text-align: center
}

#settingTrigger {
    position: fixed;
    border:1px solid rgb(229, 229, 229);
    border-right: 2px solid white;
    right: 300px;
    top:50%;
    color:rgb(229, 229, 229);
    background-color: white;
    z-index:1001;
    cursor: pointer;
    border-radius: 2px;
    padding:3px;
}

#settingTrigger::after{
    content: ">"
}

#settingTrigger.close {
    right:0px;
    color:red;
    border:2px solid red;
    border-right: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: transparent;
    padding:3px;
}

#settingTrigger.close::after {
    content:"<"
}

#settingPanel {
    background-color: white;
    padding:5px;
    width:290px;
    height: 100%;
    position: fixed;
    right: 0px;
    top:0px;
    bottom:0px;
    border-left: 1px solid rgb(229, 229, 229);
    z-index: 1000;
    overflow:auto;
}

#settingPanel.close {
    right: -300px;
}